@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&display=swap');

:root {
  /* Brand Colors */
  --background: #480ad8;
  --foreground: #ffffff;
  --accent: #f08922;
  --text-dark: #ffffff;

  /* Fonts */
  --font-sans: 'League Spartan', sans-serif;
  --font-mono: 'Courier New', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2d006c;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

.outlined-text {
  -webkit-text-stroke: 1.5px black;
}
